<!-- Sale & Revenue Start -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-sm-6 col-xl-3">
      <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-home fa-3x text-primary"></i>
        <div class="ms-3">
          <p class="mb-2">Total Cash on delivery</p>
          <h6 class="mb-0">₹ {{codTotalSale.[0].codTotal}}</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-credit-card fa-3x text-primary"></i>
        <div class="ms-3">
          <p class="mb-2">Total Online payment</p>
          <h6 class="mb-0">₹{{razorPayTotalSale.[0].razortotal}}</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-chart-line fa-3x text-primary"></i>
        <div class="ms-3">
          <p class="mb-2">Today Revenue Got</p>
          <h6 class="mb-0">₹{{totalRevenue}}</h6>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-xl-3">
      <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-users fa-3x text-primary"></i>
        <div class="ms-3">
          <p class="mb-2">Total Customers</p>
          <h6 class="mb-0">{{totalCustomers.[0].username}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Sale & Revenue End -->

<h4 class="text-center" >Payment Pie-Chart🗓️</h4>
<div>
  <canvas id="myChart" width="400"></canvas>
</div>
 <h4 class="text-center" >Daily Sales Chart🗓️</h4>
<div>
 
  <canvas id="myChart2" width="400"></canvas>
</div>
<h4 class="text-center" >Monthly Sales Chart🗓️</h4>
<div>
 
  <canvas id="myChart3" width="400"></canvas>
</div>
<h4 class="text-center" >Yearly Sales Chart🗓️</h4>
<div>
 
  <canvas id="myChart4" width="400"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');
  const config = document.getElementById('myChart2')
   const config3 = document.getElementById('myChart3')
    const config4 = document.getElementById('myChart4')






  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ['COD', 'ONLINE PAYMENT'],
      datasets: [{
        label: 'Number of purchase',
        data: [{{ codTotalSale.[0].codTotal }}, {{ razorPayTotalSale.[0].razortotal }}],
    borderWidth: 1
  }]
    },
    options: {
    responsive: true,
    maintainAspectRatio: false,
    scales: {
      y: {
        min: 0,
        max: 10,
      }
    }
  }
  });


  new Chart(config, {
    type: 'line',
    data: {
      
               
      labels:  [
         {{#each getTotalSalesGraph.dailySales}}'{{_id}}',{{/each}}
      
      ],
      datasets: [{
        label: 'Daily Sales Chart🗓️',
        data: [{{#each getTotalSalesGraph.dailySales}}'{{totalAmount}}',{{/each}}],
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
      }]
    
     },
     options: {
    responsive: true,
    maintainAspectRatio: false,
    }
  })



   new Chart(config3, {
    type: 'line',
    data: {
      
               
      labels:  [{{#each getTotalSalesGraph.monthlySales}}'{{_id}}',{{/each}}],
      datasets: [{
        label: 'Monthly Sales Chart🗓️',
        data: [{{#each getTotalSalesGraph.monthlySales}}'{{totalAmount}}',{{/each}}],
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
      }]
    
     },
     options: {
    responsive: true,
    maintainAspectRatio: false,
    }
  })

     new Chart(config4, {
    type: 'line',
    data: {
      
               
      labels:  [
         {{#each getTotalSalesGraph.yearlySales}}'{{_id}}',{{/each}}
      
      ],
      datasets: [{
        label: 'Yearly Sales Chart🗓️',
        data: [{{#each getTotalSalesGraph.yearlySales}}'{{totalAmount}}',{{/each}}],
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
      }]
    
     },
     options: {
    responsive: true,
    maintainAspectRatio: false,
    }
  })






</script>































































































































































































































<!-- Widgets Start -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">

    <div class="col-sm-12 col-md-6 col-xl-4">
      <div class="h-100 bg-light rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h6 class="mb-0">Calender</h6>
          <a href="">Show All</a>
        </div>
        <div id="calender"></div>
      </div>
    </div>

  </div>
</div>
<!-- Widgets End -->