

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
					
        			<h1 class="page-title">Nike Cart<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Nike Cart</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
           
            <div class="page-content">
				
            	<div class="cart">
					
	                <div class="container">
						 <a href="/#topSellingProducts" class="btn-outline"><h6>← Back</h6></a>

						  {{#if products}}
                                   <div class="row">
							
	                		<div class="col-lg-9">
	                			<table class="table table-cart table-mobile">
									<thead>
										<tr>
											<th>Product</th>
											
											<th>Price</th>
											<th>Offer Price</th>
											<th>Quantity</th>
											<th>Total</th>
											<th></th>
										</tr>
									</thead>
                                  
									<tbody>
										 {{#each products}}
										<tr>
										
											<td class="product-col">
												<div class="product">
													<figure class="img-thumbnail" >
														<a href="/quickview/{{this.product._id}}">
															<img style="width: 90px; " src="/images/product/{{this.product.img.[0]}}" alt="Product image">
														    
														</a>
													</figure>
                                                
													<h3 class="product-title ml-4">
														<a  href="/quickview/{{this.product._id}}">{{this.product.title}}</a>
														
													</h3>
													
												</div>
											</td>
											
											<td class="price-col" id="price{{this.product._id}}">{{this.product.price}}</td>
											<td class="price-col text-success" id="price{{this.product._id}}">{{this.offerPrice}}</td>
				

											<td class="quantity-col">
                                                <div class="cart-product-quantity d-flex  justify-content-around" style="border: rgb(130, 129, 129) 1px solid;">
													
                                                  <button onclick="quantityChange('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)" style="border: none; background-color:white;"  >-</button>
												  
												  <span id="{{this.product._id}}">  {{this.quantity}}</span>
												
												  
												  
												  <button  onclick="quantityChange('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)"  style="border: none; background-color:white;">+</button>
                                                </div><!-- End .cart-product-quantity -->
                                            </td>


                                              
                                           
											<td class="total-col"><span id="qtyTotal{{this._id}}"> {{this.quantityTotalAfterOffer}}</span></td>  


											<td><button onclick="deleteProduct('{{this._id}}','{{this.product._id}}','{{this.product.title}}')" class="badge badge-danger" style="border: none;"> Remove</button></td>
											
											
										</tr>
										
										{{/each}}
									</tbody>
									
								</table><!-- End .table table-wishlist -->

	                			<div class="cart-bottom">
			            			<!-- End .cart-discount -->

			            			<a href="#" class="btn btn-outline-dark-2"><span>UPDATE CART</span><i class="icon-refresh"></i></a>
		            			</div>
	                		</div>
	                		<aside class="col-lg-3">
	                			<div class="summary summary-cart">
	                				<h1 class="summary-title">Cart Total</h1>

	                				<table class="table table-summary">
	                					<tbody>
	                						<tr class="summary-subtotal">
	                							<td><h3>Subtotal:</h3></td>
                                                
	                							<td><h3>₹<span id="total">{{totalPrice.[0].subtotal}}</span></h3></td>

	                						</tr>
	                						<tr class="summary-shipping">
	                							<td>Shipping:</td>
	                							<td>&nbsp;</td>
	                						</tr>
 
	                						<tr class="summary-shipping-row">
	                							<td>
													<div class="custom-control custom-radio">
														<input type="radio" id="free-shipping" name="shipping" class="custom-control-input">
														<label class="custom-control-label" for="free-shipping"> Shipping</label>
													</div><!-- End .custom-control -->
	                							</td>
	                							<td>free shiping</td>
	                						</tr><!-- End .summary-shipping-row -->

	                						

	                						

	                						

	                						<tr class="summary-total">
	                							<td>Total:</td>
	                							<td>₹<span id="total2">{{totalPrice.[0].subtotal}}</span></td>
												
	                						</tr><!-- End .summary-total -->
	                					</tbody>
	                				</table><!-- End .table table-summary -->

	                				<a href="/checkout" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>
	                			</div><!-- End .summary -->

		            			<a href="/category" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
								<a href="/"><img  style="width: 100px;" class="ml-5" src="/images/swoosh-logo-black.jpg" alt=""></a>
	                		</aside><!-- End .col-lg-3 -->
						
	                	</div><!-- End .row -->
								   {{else}}
								   <h1 class="text-center">Your Cart Is Empty😒 <img style="width: 40%; margin-left: 35rem;" src="/images/no-data-concept-illustration_114360-2506.jpg" alt=""> </h1>
								   <div class="text-center">
									 <a href="/"  class="btn btn-dark">Shop Now</a>
									</div>
								  
								   {{/if}}
	                	
	                </div><!-- End .container -->
                </div><!-- End .cart -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

     
	 <script>
		function quantityChange(cartId,productId,userId,count){

			let quantity=parseInt(document.getElementById(productId).innerHTML)
			
			count=parseInt(count)
             if(count!==0){
					
				
             $.ajax({
				
				url:'/change-product-quantity',
				data:{
					user:userId,
					cart:cartId,
					product:productId,
					count:count,
					quantity:quantity
				},
				method:'post', 
				success:(response)=>{
					if(response.removeProduct){
						Swal.fire({
                        position: 'center',
                        icon: 'warning',
                        title: 'Item has been removed from the cart 🛒',
                        showConfirmButton: true,
						
                        timer: 1500
                        })
						setTimeout(() => window.location.reload(), 2500);
					}else if(response.status){
						document.getElementById(productId).innerHTML=quantity+count
						document.getElementById('total').innerHTML=response.totalPrice[0].subtotal
						document.getElementById('total2').innerHTML=response.totalPrice[0].subtotal
                        let price=document.getElementById('price'+productId).innerHTML
						console.log(response.quantityTotal)
						document.getElementById('qtyTotal'+productId).innerHTML= response.products[0].quantityTotal
					}else{
						Swal.fire({
                        position: 'center',
                        icon: 'warning',
                        title: 'Stock is not available!',
                        showConfirmButton: false,
						
                        timer: 1500
                        })
					}
				}
			 
			 })
			 }
		} 
	 </script>


	 <script>

		function deleteProduct(cartId,productId,productTitle){
			Swal.fire({
				title: 'Are you sure to remove?',
				text: productTitle,
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor:'#d33' ,
				cancelButtonColor:  '#3085d6',
				confirmButtonText: 'Yes, Remove it!'
				}).then((result) => {
				if (result.isConfirmed) {
					Swal.fire(
					'Removed!',
					productTitle ,' has been removed from your cart.',
					'success'
					)
                   
					$.ajax({ 
						url:'/delete-cart-product/',
						data:{cart:cartId,
						      product:productId
							  

						},
						method:'post',
						success:(response)=>{
							if(response.status){
								window.location.reload()
							}
						}
					})


 				 }
			})
		}
	 </script>

	 <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>