  
  <main class="main">
            <div class="container">
                <div class="intro-slider-container slider-container-ratio mb-2">
                    <div class="intro-slider owl-carousel owl-simple owl-light owl-nav-inside" data-toggle="owl" data-owl-options='{"nav": false}'>
                        <div class="intro-slide">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 480px)" srcset="assets/images/demos/demo-10/slider/slide-1-480w.jpg">
                                    <img src="assets/images/demos/demo-10/slider/slide-1.jpg" alt="Image Desc">
                                </picture>
                            </figure><!-- End .slide-image -->

                            <div class="intro-content">
                                <h3 class="intro-subtitle">Deals and Promotions</h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title text-white">Sneakers & Athletic Shoes</h1><!-- End .intro-title -->

                                <div class="intro-price text-white">from ₹ 1,000</div><!-- End .intro-price -->

                                <a href="#topSellingProducts" class="btn btn-white-primary btn-round">
                                    <span>SHOP NOW</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div><!-- End .intro-content -->
                        </div><!-- End .intro-slide -->

                        <div class="intro-slide">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 480px)" srcset="assets/images/demos/demo-10/slider/slide-2-480w.jpg">
                                    <img src="assets/images/demos/demo-10/slider/slide-2.jpg" alt="Image Desc">
                                </picture>
                            </figure><!-- End .slide-image -->

                            <div class="intro-content">
                                <h3 class="intro-subtitle">Trending Now</h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title text-white">This Week's Most Wanted</h1><!-- End .intro-title -->

                                <div class="intro-price text-white">from $49.99</div><!-- End .intro-price -->

                                <a href="#topSellingProducts" class="btn btn-white-primary btn-round">
                                    <span>SHOP NOW</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div><!-- End .intro-content -->
                        </div><!-- End .intro-slide -->

                        <div class="intro-slide">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 480px)" srcset="assets/images/demos/demo-10/slider/slide-3-480w.jpg">
                                    <img src="assets/images/demos/demo-10/slider/slide-3.jpg" alt="Image Desc">
                                </picture>
                            </figure><!-- End .slide-image -->

                            <div class="intro-content">
                                <h3 class="intro-subtitle text-white">Deals and Promotions</h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title text-white">Can’t-miss Clearance:</h1><!-- End .intro-title -->

                                <div class="intro-price text-white">starting at 60% off</div><!-- End .intro-price -->

                                <a href="#topSellingProducts" class="btn btn-white-primary btn-round">
                                    <span>SHOP NOW</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div><!-- End .intro-content -->
                        </div><!-- End .intro-slide -->
                    </div><!-- End .intro-slider owl-carousel owl-simple -->
                    <span class="slider-loader"></span><!-- End .slider-loader -->
                </div><!-- End .intro-slider-container -->
            </div><!-- End .container -->

            <div class="banner-group">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="banner banner-overlay">
                                        <a href="#">
                                            <img src="assets/images/demos/demo-10/banners/banner-1.jpg" alt="Banner">
                                        </a>

                                        <div class="banner-content banner-content-right">
                                            <h4 class="banner-subtitle"><a href="#">New Arrivals</a></h4><!-- End .banner-subtitle -->
                                            <h3 class="banner-title text-white"><a href="#">Sneakers & <br>Athletic Shoes</a></h3><!-- End .banner-title -->
                                            <a href="#" class="btn btn-outline-white banner-link btn-round">Discover Now</a>
                                        </div><!-- End .banner-content -->
                                    </div><!-- End .banner -->
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <div class="banner banner-overlay banner-overlay-light">
                                        <a href="#">
                                            <img src="assets/images/demos/demo-10/banners/banner-2.jpg" alt="Banner">
                                        </a>

                                        <div class="banner-content">
                                            <h4 class="banner-subtitle bright-black"><a href="#">Clearance</a></h4><!-- End .banner-subtitle -->
                                            <h3 class="banner-title"><a href="#">Sandals</a></h3><!-- End .banner-title -->
                                            <div class="banner-text"><a href="#">up to 70% off</a></div><!-- End .banner-text -->
                                            <a href="#" class="btn btn-outline-gray banner-link btn-round">Shop Now</a>
                                        </div><!-- End .banner-content -->
                                    </div><!-- End .banner -->
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <div class="banner banner-large banner-overlay d-none d-sm-block">
                                <a href="#">
                                    <img src="assets/images/demos/demo-10/banners/banner-3.jpg" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle text-white"><a href="#">On Sale</a></h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white"><a href="#">Slip-On Loafers</a></h3><!-- End .banner-title -->
                                    <div class="banner-text text-white"><a href="#">up to 30% off</a></div><!-- End .banner-text -->
                                    <a href="#" class="btn btn-outline-white banner-link btn-round">Shop Now</a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-8 -->

                        <div class="col-lg-4 d-sm-none d-lg-block">
                            <div class="banner banner-middle banner-overlay">
                                <a href="#">
                                    <img src="assets/images/demos/demo-10/banners/banner-4.jpg" alt="Banner">
                                </a>

                                <div class="banner-content banner-content-bottom">
                                    <h4 class="banner-subtitle text-white"><a href="#">On Sale</a></h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white"><a href="#">Amazing <br>Lace Up Boots</a></h3><!-- End .banner-title -->
                                    <div class="banner-text text-white"><a href="#">from $39.00</a></div><!-- End .banner-text -->
                                    <a href="#" class="btn btn-outline-white banner-link btn-round">Discover Now</a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-4 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .banner-group -->

            <div class="icon-boxes-container icon-boxes-separator bg-transparent">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-primary">
                                    <i class="icon-rocket"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                                    <p>Orders $50 or more</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                        
                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-primary">
                                    <i class="icon-rotate-left"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                                    <p>Within 30 days</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-primary">
                                    <i class="icon-info-circle"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Get 20% Off 1 Item</h3><!-- End .icon-box-title -->
                                    <p>when you sign up</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-primary">
                                    <i class="icon-life-ring"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                                    <p>24/7 amazing services</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                       </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .icon-boxes-container -->








             <div id="topSellingProducts" class="container">
                <div class="heading heading-center mb-3">
                    <h2 class="title-lg mb-2"  >Top Selling Products</h2><!-- End .title-lg text-center -->

                    <ul class="nav nav-pills justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="top-all-link" data-toggle="tab" href="#top-all-tab" role="tab" aria-controls="top-all-tab" aria-selected="true">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="top-women-link" data-toggle="tab" href="#top-women-tab" role="tab" aria-controls="top-women-tab" aria-selected="false">Women's</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="top-men-link" data-toggle="tab" href="#top-men-tab" role="tab" aria-controls="top-men-tab" aria-selected="false">Men's</a>
                        </li>
                    </ul>
                </div><!-- End .heading -->

                <div class="tab-content">
                    <div class="tab-pane p-0 fade show active" id="top-all-tab" role="tabpanel" aria-labelledby="top-all-link">
                        <div class="products just-action-icons-sm">
                            
                            <div class="row">
                                 {{#each product}}
                                <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                                    
                                    <div class="product product-3 text-center">
                                        
                                        <figure class="product-media" >
                                           {{#if this.stock}}
                                            <span class="product-label label-primary">Sale</span>
                                            
                                            <span class="product-label label-sale">{{this.brand.discount}}% off</span>
                                            {{else}}
                                            <span class="product-label label-sale">out of stock</span>
                                            {{/if}}

                                            <a href="/quickview/{{this._id}}" >
                                                <img  src="/images/product/{{this.img.[0]}}"  alt="Product image" class="product-image"> 
                                            </a>

                                           

                                            <div class="product-action-vertical">
                                                {{#if ../user}}
                                          <button onclick="addToWishlist('{{this._id}}')" style="border: none;" class="btn-product-icon btn-wishlist btn-expandable"> <span>add to wishlist</span> </button>
                                           {{/if}}
                                            </div><!-- End .product-action-vertical -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class='text-info'>
                                                <a href="/brand" class="text-info font-weight-bold">{{this.brand.brand}}</a>
                                               
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="/quickview/{{this._id}}" >{{this.title}}</a></h3><!--product-title -->
                                            <div class="product-price">
                                                <span class="new-price">₹{{this.offerPrice}}</span>
                                                <span class="old-price">₹{{this.price}}</span>
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->

                                        <div class="product-footer">
                                             Stock left: <span>{{this.stock}}</span>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                               
                                                <span class="ratings-text">( 4 Reviews )</span>
                                               
                                            </div><!-- End .rating-container -->

                                           

                                            <div class="product-action">
                                                
                                                {{#if this.stock}}
                                                <button onclick="addToCart('{{this._id}}')" class="btn-product btn-cart" style="border: none; background-color:white; " ></button>
                                                {{else}}
                                                <button class="btn btn-danger">OUT OF STOCK!</button>
                                                {{/if}}
                                                {{!-- <a href="/add-to-cart/{{this._id}}" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a> --}}
                                                <a href="/quickview/{{this._id}}" class="btn-product btn-quickview"  title="Quick view"><p></p></a>
                                            </div><!-- End .product-action -->
                                        </div><!-- End .product-footer -->
                                       
                                    </div><!-- End .product -->
                                   
                                </div><!-- End .col-6 col-md-4 col-lg-3 -->

                                 {{/each}}

                            </div>    

                        
                        </div>
                    </div>     

                </div>
             </div>

                   <div class="more-container text-center mt-5">
                    <a href="/allproducts" class="btn btn-outline-lightgray btn-more btn-round"><span>View more products</span><i class="icon-long-arrow-right"></i></a>
                </div><!-- End .more-container -->
            </div><!-- End .container -->



 </main>
        

 <script>
	function addToCart(proId){
		$.ajax({
			url:'/add-to-cart/'+proId,
			method:'get',
			success:(response)=>{ 
                console.log(response) 
				if(response.status){
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Item has been added to cart 🛒',
                        showConfirmButton: false,
                        timer: 1500
                        })
                    
					 let cartCount=$('#cartcount').html()
					 cartCount=parseInt(cartCount)+1
                     console.log(cartCount)
					 $('#cartcount').html(cartCount)
				}else{
                    window.location.href = ('/login')
                }
			} 
		})
	}
  </script>

  <script>
    function addToWishlist(productId){
        console.log(productId)
      $.ajax({
        url:'/add-to-wishlist/'+productId,
        method:'get',
        success:(response)=>{
           if(response.status){
             Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Item has  been added to wishlist❤️',
                        showConfirmButton: false,
                        timer: 1500
                        })
           }else{
            Swal.fire({
                        position: 'center',
                        icon: 'warning',
                        title: 'Item already exist in wishlist!',
                        showConfirmButton: false,
                        timer: 1500
                        })
            
           }
        }
      })
    }
  </script>
  
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>